<ion-view view-title="ANALYSIS">
    <ion-content>
      <br><br><br><br><br><br><br>
      <button class="button button-block button-dark" ng-click="current()">
          CURRENT STATUS
           </button>
           <button class="button button-block button-energized" ng-click="weekly()">
              WEEKLY STATUS
               </button>
               <button class="button button-block button-balanced" ng-click="monthly()">
                 MONTHLY STATUS
                   </button>
  
    </ion-content>
  </ion-view>
  